@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111827;
  color: white;
  font-size: 18px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  padding: 20px 40px;
  margin: 0 auto;
  max-width: 1200px;
  user-select: none;
}

button,
input {
  color: white;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 32px;
}
