h1 {
  padding-top: 50px;
}

h1,
header {
  font-size: 29px;
  font-weight: 600;
  text-shadow: 0px 0px 10px #054beb;

  /* color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 0px 0px 5px, #054beb 0px 0px 10px,
    #054beb 0px 0px 15px; */
}

.project-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px 10px;
  padding: 15px 0;
}

.project {
  padding: 8px 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  border-radius: 4px;
}

.project-img {
  width: 280px;
  height: 214.5px;
  background-color: #c5b6ff;
  border-radius: 4px;
  overflow: hidden;
}

.project-img img {
  background-color: #111827;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project:hover .project-img img {
  transition: all 0.5s ease-in-out;
  transform: scale(0.95);
}

.project-name {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

.project-category {
  justify-self: flex-end;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #9b9d9e;
}
